extends ../layout

block content
    script(src='/socket.io/socket.io.js')
    script
        |var socket = io.connect('/');
    script(type='text/javascript', src='/js/index.js')
    if service_data
        span#service_data(style='display:none')
            |#{service_data}
    link(href="/css/bootstrap.min.css", rel="stylesheet", media="screen")
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/bootstrap-paginator.min.js')
    .container
        .row
            .panel.panel-default
                .panel-heading
                    a.btn.btn-default(type='button',href='./task') 创建Android打包任务
                    a.btn.btn-default(type='button',href='./relation') 新建git仓库tag关联
                .panel-body
                    table.table.table-hover.table-condensed.table-bordered(align='center')
                        thead
                            tr
                                th ID
                                th 打包状态
                                th 创建时间
                                th 结束时间
                                th 程序版本
                                th 描述
                                th 详情
                                th LOG
                                th ZIP
                                th APK
                        tbody#tasks_table
                    .span(align='center')
                        ul#page_navigation.pagination