//
   Created by LI on 2015/1/20.
extends ../layout
block content
   script(type='text/javascript', src='/js/task.js')
   if models
      span#models_data(style='display:none')
         |#{models}
   .container
      .row
         form#task_form.form-horizontal(role='form',action='/task/new',method='post')
            .panel
               span.btn-lg 新建打包任务
               a.btn.btn-default.pull-right(href='/') 取消
               a.btn.btn-default.pull-right(onclick='submitTask()') 保存
            .panel.panel-default
               .panel-heading
                  span.label.label-info 基本配置
               .panel-body
                  .input-group
                     span.input-group-addon 微博版本名
                     input#weibo_version_name.form-control(name='weibo_version_name', type='text', placeholder='在此输入微博版本名', style='width:500px')
                     button.btn.btn-default.btn-sm(type='button', style='margin-left:20px', onclick='suggest_tags()')
                        span.glyphicon.glyphicon-ok
                        |确定
            br
            .panel.panel-default
               .panel-heading
                  span.label.label-info 选择模块
                  a.btn.btn-sm.btn-default(style='margin-left:20px',onclick='addModel()')
                     span.glyphicon.glyphicon-plus
                     |添加
               #models_content.panel-body

            #add_model.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLabel' aria-hidden='true')
               .modal-dialog
                  .modal-content
                     .modal-header
                        button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                        h4#modalLabel.modal-title 选择添加的模块
                     .modal-body
                        div
                           span.small 选择模块：
                           .btn-group
                              button.btn.btn-default.dropdown-toggle.btn-sm(type='button',data-toggle='dropdown')
                                 a#model_display 选择模块
                                 span.caret
                              ul#modal_options.dropdown-menu(role='menu')
                     .modal-footer
                        a.btn.btn-default(type='button',data-dismiss='modal') 关闭
                        a.btn.btn-primary(type='button',data-dismiss='modal',onclick='commitAddModel()') 添加



         //         .btn-group
         //            input#version_input(type='hidden', name="version", value='')
         //            button.btn.btn-default.dropdown-toggle.btn-sm(type='button',data-toggle='dropdown')
         //               a#version_display(type='text') 选择微博版本
         //               span.caret
         //            ul.dropdown-menu(role='menu')
         //               if versions
         //                  if versions.length > 0
         //                     each version in versions
         //                        li
         //                           a.btn(onclick='display("#{version.version_name}")') #{version.version_name}
         //                  else
         //                     li.divider
         //                     li
         //                        a.btn.btn-default.btn-sm(href='./') 暂无可用于打包的版本
         //               else
         //                  li.divider
         //                  li
         //                     a.btn.btn-default.btn-sm(href='./') 暂无可用于打包的版本
         //         br
         //         br
         //         .input-group.input-group-sm
         //            span.input-group-addon 版本描述
         //            input.form-control(type='text',name='description')
         //      .panel-body
         //         button#sub_btn.btn.btn-default.navbar-left(type='submit') 保存
         //         a.btn.btn-default.navbar-left(type='button',href='./') 取消