//
   Created by LI on 2015/1/20.
extends ../layout
block content
   .container
      .row
         .panel
            span.btn-lg 新建打包任务
            a.btn.btn-default.navbar-right(type='button',href='./') 取消
            a.btn.btn-default.navbar-right(type='button',href='./task') 保存
         .panel.panel-default
            .panel-heading
               span.label.label-default 选择微博版本
            .panel-body
               span.small 微博版本：
               .btn-group
                  button.btn.btn-default.dropdown-toggle.btn-sm(type='button',data-toggle='dropdown')
                     a#version_display(type='text') 选择微博版本
                     span.caret
                  ul.dropdown-menu(role='menu')
                     if versions
                        if versions.length > 0
                           each version in versions
                              li
                                 a.btn(onclick='display("#{version.version_name}")') #{version.version_name}
                     li.divider
                     li
                        a.btn.btn-default.btn-sm(href='./version') 创建新版本
         .panel.panel-default
            .panel-heading
               span.label.label-default 基本配置
            .panel-body
