//
   Created by LI on 2015/1/20.
extends ../layout
block content
   script(type='text/javascript', src='/js/task.js')
   .container
      .row
         form.form-horizontal(role='form',action='/task/new',method='post')
            .panel
               span.btn-lg 新建打包任务
               a.btn.btn-default.navbar-right(type='button',href='./') 取消
               button.btn.btn-default.navbar-right(type='submit') 保存
            .panel.panel-default
               .panel-heading
                  span.label.label-default 基本配置
               .panel-body
                  span.small 微博版本：
                  .btn-group
                     input#version_input(type='hidden', name="version", value='')
                     button.btn.btn-default.dropdown-toggle.btn-sm(type='button',data-toggle='dropdown')
                        a#version_display(type='text') 选择微博版本
                        span.caret
                     ul.dropdown-menu(role='menu')
                        if versions
                           if versions.length > 0
                              each version in versions
                                 li
                                    a.btn(onclick='display("#{version.version_name}")') #{version.version_name}
                        li.divider
                        li
                           a.btn.btn-default.btn-sm(href='./version') 创建新版本
                  br
                  br
                  .input-group.input-group-sm
                     span.input-group-addon 版本描述
                     input.form-control(type='text',name='description')
