extends ../layout

block content
    .container
        .row
            .panel.panel-default
                .panel-heading
                    h3.panel-title 添加微博版本
                .panel-body
                    form.form-horizontal(role='form', method='post', action='/wbv/version')
                        .input-group.input-group-sm
                            span.input-group-addon 微博版本名
                            input.form-control(type='text', name='version_name')
                        br
                        .input-group.input-group-sm
                            span.input-group-addon 版本描述
                            input.form-control(type='text', name='description')
                        br
                        .input-group.input-group-sm
                            button.btn.btn-default(type='submit') 录入
                            a.btn.btn-default(type='button', href='/task') 取消
